.feature-item {
		position: relative;
		padding-bottom: 2.5rem;

	@media (min-width: 520px) {
		padding-left: 94px;

	}

	&__icon {
		display: block;
		margin: 0 auto;
		
	
	@media (min-width: 520px) {
		position: absolute;
		left:0;
	}
}

	&__title {
		font-size: 1.875rem;
		font-weight: 300;
		margin-bottom: .8rem;
		text-align: center;

	@media (min-width: 520px) {
		font-size: 1.875rem;
		font-weight: 300;
		margin-bottom: .8rem;
		text-align: left;
	}
}
}