.headline {
	font-weight: 300;
	font-size: 2.85rem;
	color: #2f5572;

&--centered {
	text-align: center;
}

&--orange {
	color: #d59541;
}

&--small {
	font-size: 1.875rem;
	max-width: 500px;
}

&--narrow {
	margin-left: auto;
	margin-right: auto;
}

&--light {
	font-weight: 100;
}

&--b-margin-small {
	margin-bottom: .5em;
}

&--b-margin-large {
	margin-bottom: 1.6em;
}

&--no-t-margin {
	margin-top: 0;
}
}
