.row {
	&::after {
		content:"";
		clear: both;
		display: table;
	}

	&__4 {
		float: left;
		width: 100%;

	@media (min-width: 520px) {
		width: 37%;
	}

}
	&__medium-6 {
		float: left;
		width: 100%;

	@media (min-width: 520px) {
		width:50%;
	}
}


	&__8 {
		float: left;
		width: 100%;

	@media (min-width: 520px) {
		width: 63%;
	}
}

	&--gutters {
		margin-right: -65px;
	}

	&--gutters-large {
		margin-right: -100px;
	}

	&--gutters-large > div {
		padding-right: 100px;
	}

	&--gutters > div {
		padding-right: 65px;
	}


}